@font-face {
    font-family: 'Inter';
    src: local('Inter'), url('./fonts/Inter-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Raiderfont';
    src: local('Raiderfont'), url('./fonts/Raiderfont.ttf') format('truetype');
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
      --fs: 1.3rem;
      --main-color: white;
      --secondary-color: #F24A72;
      --background-right: #191921;
      --background-left: #B3B4AF;
      font-family: 'Inter';
      font-style: normal;
      font-size: var(--fs);
      width: 100%;
      overflow: hidden;
  }

  ul{
      list-style: none;
  }
  ul li a{
    text-decoration: none;
    color: var(--main-color);
  }

.left, .right{
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: -1;
}

.left {
  
  background-color: var(--background-left);
  left: 0%;
  width: 0%;
}
.right {
  background-color: var(--background-right);
  right: 0%;
  width: 100%;
}

.nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  padding: 0 1.5rem;
}

.nav ul li{
  display: inline-block;
  color: var(--main-color);
  font-size: calc(var(--fs) - 0.3rem);
  font-weight: 600;
  padding: 0 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav .logo {
  font-size: calc(var(--fs) + 0.5rem);
  letter-spacing: 0;
}

.hamburger{
  flex-direction: column;
  gap: .3rem;
  height: 1rem;
  cursor: pointer;
  display: none;
}
.span1{
  width: 3rem;
  height: 1px;
  background-color: var(--main-color);
}
.span2{
  width: 2rem;
  height: 1px;
  background-color: var(--main-color);
}

.nav .navlink .img {
  background-image: url('./assets/profile.jpg');
  background-position: 50%;
  background-size: cover;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.img-wrapper {
  position: absolute;
  bottom: 0;
  left: 23rem;
  background-color: var(--main-color);
}

.img-wrapper .model {
  background-image: url('./assets/karina.jpg');
  background-size: cover;
  height: 25rem;
  width: 35rem;
}

.info {
  position: absolute;
  bottom: 0;
  left: 180px;
  background: rgba(0, 0, 0, .8);
  padding: 0 .8rem;
}

.info ul li{
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
.info ul li a{
  letter-spacing: 3px;
  font-size: calc( var(--fs) - 0.6rem);
  font-weight: 600;
  color: var(--main-color);
  text-decoration: none;
}

.text {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
}

.text h1 {
  font-size: calc( var(--fs) * 3);
  color: var(--main-color);
  font-family: 'Raiderfont';
  text-transform: uppercase;
  letter-spacing: 1px;
}

.text p {
  font-size: 20px;
  color: var(--main-color);
  font-family: monospace;
}

.name {
  position: absolute;
  top: 50%;
  left: 1rem;
  letter-spacing: 1px;
  transform: translateY(-50%);
  font-size: calc( var(--fs) * 3);
  font-family: 'Raiderfont';
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 2px var(--secondary-color);
}

.navbottom {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
}

.navbottom ul li {
  color: var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 15px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 2rem;
  height: 2rem;
}

.navbottom ul li:hover {
  color: var(--main-color);
  font-weight: bolder;
  transform: translateX(-15px);
}

.navbottom span{
  background-color: var(--secondary-color);
  width: 3rem;
  height: .1rem;
  margin-right: 1rem;
}

.navbottom ul li:hover span{
  transform: translateX(-15px);
  transition: background-color ease-in .2s;
  background-color: var(--main-color);
}

@media (max-width: 950px) {
  .nav ul{
    justify-content: space-between;
  }
  .nav ul .navlink{
    display: none;
  }
  .hamburger{
    display: flex;
  }
}

@media (max-width: 576px){
  .img-wrapper {
    position: absolute;
    bottom: 0;
    left: 10%;
    background-color: var(--main-color);
  }
  .info {
    position: absolute;
    bottom: 0;
    left: 10%;
    background: rgba(0, 0, 0, .8);
    padding: 0 .8rem;
  }

  .navbottom {
    position: absolute;
    top: 7rem;
    right: 4rem;
  }
}